﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<title>FİLMLER</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/animate.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/li-scroller.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/theme.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <div class="box_wrapper">
    <header id="header">
      <div class="header_top">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav custom_nav">
                <li><a href="index.html">İmdb</a></li>
                <li><a href="#">Seçtiklerimiz</a></li>
                <li><a href="~/Content/pages/category-archive.html">Tercih</a></li>
                <li><a href="#">Bize Ulaşın</a></li>
                <li><a href="pages/404.html">Reklam Kapat</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="header_search">
          <button id="searchIcon"><i class="fa fa-search"></i></button>
          <div id="shide">
            <div id="search-hide">
              <form action="#">
                <input type="text" size="40" placeholder="Search here ...">
              </form>
              <button class="remove"><span><i class="fa fa-times"></i></span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="logo_area"><a class="logo" href="#"><b>F</b>ilm Adresi <span>Keyfin Yeni Adresi</span></a></div>
        <div class="top_addarea"><a href="#"><img src="~/Content/images/addbanner_728x90_V1.jpg" alt=""></a></div>
      </div>
    </header>
    <div class="latest_newsarea"> <span>Kategoriler</span>
      <ul id="ticker01" class="news_sticker">
        <li><a href="#">BilimKurgu Filmleri</a></li>
        <li><a href="#">Fantastik Filmler</a></li>
        <li><a href="#">Korku Filmleri</a></li>
        <li><a href="#">Yeşilçam Filmleri</a></li>
        <li><a href="#">Komedi Filmleri</a></li>
        <li><a href="#">Aksiyon Filmleri</a></li>
        <li><a href="#">Savaş Filmleri</a></li>
        <li><a href="#">Romantik Filmler</a></li>
        <li><a href="#">Animasyon Filmler</a></li>
      </ul>
    </div>
    <div class="thumbnail_slider_area">
      <div class="owl-carousel">
        <div class="signle_iteam"> <img src="~/Content/images/1.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>63 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="~/Content/images/2.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>34 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="~/Content/images/3.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>8 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="~/Content/images/4.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>12 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="~/Content/images/5.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>46 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="~/Content/images/6.jpg" alt="">
          <div class="sing_commentbox slider_comntbox">
            <p><i class="fa fa-calendar"></i>gg/aa/yyyy</p>
            <a href="#"><i class="fa fa-comments"></i>85 Yorum</a></div>
          <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
      </div>
    </div>
    <section id="contentbody">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="row">
            <div class="left_bar">
              <div class="single_leftbar">
                
                
    </section>
      <footer id="footer">
          <div class="footer_top">
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single_footer_top wow fadeInLeft">
                      <h2>Bizi takip edin</h2>
                      <div class="subscribe_area">
                          <p>"Yeni filmlerden haberdar olmak için e-mail inizi yazınız"</p>
                          <form action="#">
                              <div class="subscribe_mail">
                                  <input class="form-control" type="email" placeholder="Email Adresi Giriniz">
                                  <i class="fa fa-envelope"></i>
                              </div>
                              <input class="submit_btn" type="submit" value="Giriniz">
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single_footer_top wow fadeInLeft">
                      <h2>En Çok İzlenenler</h2>
                      <ul class="catg3_snav ppost_nav">
                          <li>
                              <div class="media">
                                  <a class="media-left" href="pages/single_page.html"> <img src="images/70x70.jpg" alt=""> </a>
                                  <div class="media-body"> <a class="catg_title" href="pages/single_page.html"> Fotoğraf</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="media">
                                  <a class="media-left" href="pages/single_page.html"> <img src="images/70x70.jpg" alt=""> </a>
                                  <div class="media-body"> <a class="catg_title" href="#"> Fotoğraf</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="media">
                                  <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                                  <div class="media-body"> <a class="catg_title" href="#"> Fotoğraf</a></div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single_footer_top wow fadeInRight">
                      <h2>Yazılar</h2>
                      <ul class="footer_labels">
                          <li><a href="#">Komedi</a></li>
                          <li><a href="#">Sanat</a></li>
                          <li><a href="#">Sinema</a></li>
                          <li><a href="#">Doğal</a></li>
                          <li><a href="#">Spor</a></li>
                          <li><a href="#">Turizm</a></li>
                          <li><a href="#">Videolar</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single_footer_top wow fadeInRight">
                      <h2>İletişim Formu</h2>
                      <form action="#" class="contact_form">
                          <label>İsim</label>
                          <input class="form-control" type="text">
                          <label>Email*</label>
                          <input class="form-control" type="email">
                          <label>Mesaj*</label>
                          <textarea class="form-control" cols="30" rows="10"></textarea>
                          <input class="send_btn" type="submit" value="Gönder">
                      </form>
                  </div>
              </div>
          </div>
          <div class="footer_bottom">
              <div class="footer_bottom_left">
                 
              </div>
              <div class="footer_bottom_right">
                  <ul>
                      <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Rss" href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
              </div>
          </div>
      </footer>
  </div>
</div>
<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Scripts/js/wow.min.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/slick.min.js"></script>
<script src="~/Scripts/js/jquery.li-scroller.1.0.js"></script>
<script src="~/Scripts/js/custom.js"></script>
</body>
</html>

